

body, html {
  padding: 0;
  margin: 0;
}

.container{
  max-width: 940px;

}
.header {
  background-color: #F8C98D;
}
.header h1 {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: left;
  text-transform: uppercase;
}

.header ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.header:hover ul {
  display: block;
}

.header ul li {
  float: right;
  display: block;
  margin: 0 auto;
  clear: both;
  font-size: 3rem;
  
}

.header ul li a {
  color: #1d3156;
  text-decoration: none;
}
.glyphicon {
  float: right;
  font-size: 4rem;
}


.jumbotron {
  height: 100%;
  margin-bottom: 0;
  background: transparent;
}

.row {
  margin-top: 2%;
}

.projects {
  display: block;
}

.about {
  display: none;
}

.footer{
  background-color: #F8C98D;
  height: 67px;
}

.footer p {
  color: #1d3156;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
  margin-top: 3.5%;
}


.footer ul {
  display: inline-block;
  padding: 0 0 2px;
  margin: 0;
  text-align: right;
  margin-top: 2rem;

}

.footer ul li {
  display: inline-block;
  font-size: 2rem;
  list-style: none;



}
.footer ul li a {
  text-decoration: none;
  color: #1d3156;
  padding: 0 20px 0 20px;

}

#about {
  background-color: rgba(255, 255, 255, 0.7);
  display: none;
}

.feature .container {
  background-color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 444px) {

  .header ul {
    margin-top: -40px;
    float:right;
    display: block;

  }
  .header ul li {
    display: inline;


  }
  .header ul li a {
    text-decoration: none;
    color: #1d3156;
    padding: 0 30px 0px 30px;
  }

  .glyphicon {
    display: none;
  }
}